{% extends "wmspanelapi/base.html" %}
{% load static %}
{% load mytemplatetags %}


{% block vhgs %}
    <section class="content">
    <h2>Check case KH lỗi giật load </h2>
    <div align="right"><p style="font-size:70%;">Ver: 1.0.4 date: 4-9-18</p></div>

    <div class="container">
    <form method='POST' action="">

        IP or Phone <input type="text" name="query" style="margin-right: 20px" placeholder="Số điện thoại" >
        Start time <input type="text" name="start" style="margin-right: 10px" placeholder="giờ.năm-tháng-ngày" id='datetimepicker4'>
        End time <input type="text" name="end" style="margin-right: 10px" placeholder="giờ.năm-tháng-ngày">
        <button type="submit" name="submit_get">Get data</button>
    </form>
    {% if query %}
        Your search: {{ query }}
        {{ start }}
        {{ end }}
    {% endif %}
    <hr/>
    {% if noip and type_search == "phone" %}
        Khong tim thay Ip, khach hang khong su dung dich vu tai thoi diem nay
    {% endif %}
    {% if not input_ok %}
        Thieu dau vao.<br> Time: [giờ].[năm]-[tháng]-[ngày] --- Vd: 8h ngày 24 tháng 3 năm 2019: 8.2019-3-1<br>
    {% endif %}

    {% if type_search == "ip" and not error_res and not error_req and input_ok %}
        <form method='POST'>
            <br><input type="submit" name="submit_ip" value="submit_ip">
        </form>
    {% endif %}

    {% if ipaddr %}
        <form method='POST'>
            Chon IP:<br>
            {% for j in ipaddr %}
                <br> <input type="checkbox" name="ip" value="{{ j.1 }}"> {{ j.0 }} <b>{{ j.1 }}</b> {{ j.2 }}
            {% endfor %}
            <br><input type="submit" name="submit_ip" value="submit_ip">
        </form>
    {% endif %}
    <br>

    {% if error_res %}
        <form method='POST'>
            <input type="submit" name="next_step" value="next_step"><br>
        </form>
        {% for k in data_res %}
            <p style="font-size:70%;">{{ k }}</p>
        {% endfor %}
        <p style="font-size:100%;">{{ recommend_res }}</p>
        <a href="{{ linkids }}">Link_IDS</a>
    {% endif %}

    {% if error_req %}
        {% for l in data_req %}
            <p style="font-size:70%;">{{ l }}</p>
        {% endfor %}
        {% for m in recommend_req %}
            <p style="font-size:100%;">{{ m }}</p>
        {% endfor %}
        <a href="{{ linkids }}">Link_IDS</a>
    {% endif %}
    </section>
{% endblock %}